# docker-compose.yml
services:
  postgres:
    image: postgres:16
    container_name: vamu_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: